<h1>Home#index</h1>
<% if session[:user_id] %>
  <p>Welcome, <%= User.find(session[:user_id]).name %>!</p>
  <%= link_to 'Log Out', logout_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in with LinkedIn', '/auth/linkedin' %>
<% end %>

